In [1]:
import pandas as pd
import numpy as np
# add_url='C:/Users/SAMSUNG/Desktop/DataAnalysis/my_projects/02_semi_project2/'
Data=pd.read_excel("./숙박2.xlsx")
data=pd.DataFrame(Data)

In [ ]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
data

    place_name                 address_name
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1
..         ...                          ...
812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[817 rows x 2 columns]

In [13]:
data.rename(columns={'place_name':'제목', 'address_name':'지번주소'},inplace=True)

In [14]:
data

            제목                         지번주소
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1
..         ...                          ...
812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[817 rows x 2 columns]

In [5]:
Data2=pd.read_excel("./숙박3-1.xlsx")
add_data=pd.DataFrame(Data2)
add_data.drop(columns=add_data.columns[:2],inplace=True)
add_data.rename(columns=dict(zip(add_data.columns,["제목","지번주소"])),inplace=True)

In [12]:
add_data

            제목                         지번주소
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1
..         ...                          ...
789     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
790     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
791   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
792      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
793   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[794 rows x 2 columns]

In [15]:
for name in add_data['제목']:
    if name in data["제목"]:
        print(name)

In [16]:
for name in add_data['지번주소']:
    if name in data["지번주소"]:
        print(name)

> 겹치는게 없다..

### 데이터 전처리
>제주도 주소가 아닌 곳을 제외

In [18]:
data=data[data["지번주소"].str.find("제주특별")!=-1]
# data.drop(columns="Unnamed: 0",inplace=True)
data["행정구역"]=np.nan

In [19]:
data

            제목                         지번주소  행정구역
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315   NaN
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30   NaN
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34   NaN
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18   NaN
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1   NaN
..         ...                          ...   ...
812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1   NaN
813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2   NaN
814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9   NaN
815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2   NaN
816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005   NaN

[794 rows x 3 columns]

> 진짜 고생했네 ㅜㅜㅋㅋ

In [20]:
행정구역 = {'구좌':'구좌',
  '조천':'조천', 
  '화북': '동제주','봉개':'동제주', '회천':'동제주','용강':'동제주',
  '오라':'중제주','아라':'중제주','오등':'중제주','화북':'중제주','이도':'중제주','건입':'중제주','삼도':'중제주','용담':'중제주','일도':'중제주', 
  '도두':'서제주','이호':'서제주','외도':'서제주','내도':'서제주','도평':'서제주','노형':'서제주','연동':'서제주','강정':'서제주','도순':'서제주',
  '영남':'서제주','월평':'서제주','해안':'서제주', '노형':'서제주',
  '애월' :'애월',
  '성산':'성산',
  '한림':'한림',
  '표선':'표선',
  '남원':'남원',
  '한경':'한경',
  '안덕':'안덕',
  '영천':'동서귀','동흥':'동서귀','효돈':'동서귀','송산':'동서귀','신효':'동서귀','하효':'동서귀','서귀':'동서귀','보목':'동서귀','동홍':'동서귀',
  '대천':'중서귀','대륜':'중서귀','서홍':'중서귀', '강정':'중서귀','법환':'중서귀','서호':'중서귀','호근':'중서귀',
  '여래':'서서귀','중문':'서서귀','회수':'서서귀', '하원':'서서귀','대포':'서서귀', '색달':'서서귀', '하예':'서서귀', '상예':'서서귀',  
  '대정':'대정'}

In [21]:
def trans(x):
    for i in 행정구역.keys():
        try:
            if i in x:
                return 행정구역[i]
        except:
            break

In [22]:
# 지번주소
error=[]
data["행정구역"]=data["지번주소"].apply(lambda x:trans(x))

In [23]:
# 도로명주소
data.loc[data["행정구역"].isna(),"행정구역"]=data[data["행정구역"].isna()].apply(lambda x:trans(x))

In [24]:
data

            제목                         지번주소 행정구역
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315  중제주
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30  서제주
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34  서제주
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18  중제주
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1  서제주
..         ...                          ...  ...
812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1   애월
813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2   한림
814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9   애월
815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2   애월
816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005   한림

[794 rows x 3 columns]

### 시각화 작업

In [25]:
from IPython.display import SVG
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import os

#### 행정구역별

In [38]:
colors = ['#fffae6', '#ffeb99', '#ffdb4d', '#ffcc00', '#e6b800','#cca300','#997a00','#4d3d00']

#### histogram 을 이용한 구간 설정
> 좀더 상세히 혹은 덜 나눠야 보기 좋을듯

In [39]:
color_rule=pd.merge(pd.DataFrame(set(행정구역.values())).set_index(0),pd.DataFrame(data["행정구역"].value_counts()),
                    how="left",left_index=True,right_index=True).fillna(0)

In [44]:
color_rule

     count
0
중서귀   27.0
조천    24.0
애월    80.0
한림    43.0
남원    12.0
중제주   91.0
서제주  130.0
서서귀    0.0
대정     0.0
동제주    2.0
구좌    13.0
성산    66.0
한경     8.0
동서귀  245.0
안덕    39.0
표선    12.0

In [40]:
x,y=np.histogram(color_rule["count"].values,bins=8)

In [41]:
y

array([  0.   ,  30.625,  61.25 ,  91.875, 122.5  , 153.125, 183.75 ,
       214.375, 245.   ])

In [42]:
dc=dict(zip(y[:-1],colors))

In [43]:
dc

{0.0: '#fffae6',
 30.625: '#ffeb99',
 61.25: '#ffdb4d',
 91.875: '#ffcc00',
 122.5: '#e6b800',
 153.125: '#cca300',
 183.75: '#997a00',
 214.375: '#4d3d00'}

In [45]:
for name in color_rule.index:
    for i in y[:-1]:
        if color_rule.loc[name]['count']>=i:
            color_rule.loc[name,'color_id']=i

색상 입히기

In [46]:
color_rule

     count  color_id
0
중서귀   27.0     0.000
조천    24.0     0.000
애월    80.0    61.250
한림    43.0    30.625
남원    12.0     0.000
중제주   91.0    61.250
서제주  130.0   122.500
서서귀    0.0     0.000
대정     0.0     0.000
동제주    2.0     0.000
구좌    13.0     0.000
성산    66.0    61.250
한경     8.0     0.000
동서귀  245.0   214.375
안덕    39.0    30.625
표선    12.0     0.000

In [56]:
with open("./제주map.svg","r",encoding="utf-8") as f:
    jeju_map=f.readlines()

In [57]:
for name in color_rule.index:
    idx=[]
    for i in range(len(jeju_map)):
        if name in jeju_map[i]:
            idx.append(i)
    for j in map(lambda x:x+1,idx):
        jeju_map[j]=jeju_map[j].replace("#eeeeee",dc[color_rule.loc[name]["color_id"]])

In [66]:
with open("호텔시각화.html","w",encoding='euc-kr') as f:
    for line in jeju_map:
         f.write(line)