# 분석용 데이터 만들기

## #01. 작업준비

### 패키지 가져오기

In [1]:
from pandas import read_excel, merge, DataFrame, get_dummies

### 데이터 불러오기

In [2]:
origin = read_excel('./골목상권_코로나전후_매출액비교.xlsx')
origin.head()

   기준_년_코드  기준_분기_코드  Covid19    상권_코드  ...  시군구코드     도심  총_직장_인구_수  총_생활인구_수
0     2018         3        0  1000094  ...  11200  False       3118   1272175
1     2018         3        0  1000094  ...  11200  False       3118   1272175
2     2018         3        0  1000094  ...  11200  False       3118   1272175
3     2018         3        0  1000094  ...  11200  False       3118   1272175
4     2018         3        0  1000094  ...  11200  False       3118   1272175

[5 rows x 25 columns]

## #02. 데이터 가공

### 지도에 사용할 정보는 제거

In [6]:
df = origin.drop(['기준_년_코드', '기준_분기_코드', '엑스좌표_값', '와이좌표_값',	'시군구_코드', '행정동_코드', '시군구명', '시군구코드'], axis=1)
df

        Covid19    상권_코드   분기당_매출_금액  ...     도심  총_직장_인구_수  총_생활인구_수
0             0  1000094   182447499  ...  False       3118   1272175
1             0  1000094     4561081  ...  False       3118   1272175
2             0  1000094    86293109  ...  False       3118   1272175
3             0  1000094    93941608  ...  False       3118   1272175
4             0  1000094  1692325089  ...  False       3118   1272175
...         ...      ...         ...  ...    ...        ...       ...
265923        1  1000651    28058862  ...  False       5342   4321830
265924        1  1000651     7399119  ...  False       5342   4321830
265925        1  1000651    16470763  ...  False       5342   4321830
265926        1  1000651    68283054  ...  False       5342   4321830
265927        1  1000651     4806510  ...  False       5342   4321830

[265928 rows x 17 columns]

### 코로나 전후로 데이터 분리

In [7]:
before = df[df['Covid19']==0]
before.head()

   Covid19    상권_코드   분기당_매출_금액    주중_매출_금액  ...  상권_코드_명     도심  총_직장_인구_수  총_생활인구_수
0        0  1000094   182447499   181667733  ...   마장로39길  False       3118   1272175
1        0  1000094     4561081     3428057  ...   마장로39길  False       3118   1272175
2        0  1000094    86293109    78208220  ...   마장로39길  False       3118   1272175
3        0  1000094    93941608    60508224  ...   마장로39길  False       3118   1272175
4        0  1000094  1692325089  1354744541  ...   마장로39길  False       3118   1272175

[5 rows x 17 columns]

In [8]:
after = df[df['Covid19']==1]
after.head()

     Covid19    상권_코드   분기당_매출_금액  ...     도심  총_직장_인구_수  총_생활인구_수
138        1  1000094  2011183538  ...  False       1481   2459402
139        1  1000094    74034497  ...  False       1481   2459402
140        1  1000094    50891018  ...  False       1481   2459402
141        1  1000094    98627196  ...  False       1481   2459402
142        1  1000094   406516910  ...  False       1481   2459402

[5 rows x 17 columns]

### 상권별로 집계

In [10]:
before_df = before.groupby(['상권_코드','상권_코드_명']).mean()
before_df.head()

                  Covid19     분기당_매출_금액  ...     총_직장_인구_수      총_생활인구_수
상권_코드   상권_코드_명                          ...
1000001 계동길           0.0  2.578610e+08  ...  21133.770642  1.063927e+06
1000002 난계로27길        0.0  3.543839e+08  ...  10343.230769  3.304633e+06
1000003 돈화문로11가길      0.0  3.413227e+08  ...  43510.654088  2.169122e+06
1000004 명륜길           0.0  1.938924e+08  ...   8267.454545  2.516156e+06
1000005 백석동길          0.0  2.776290e+08  ...   2711.131579  3.022949e+05

[5 rows x 15 columns]

In [11]:
after_df = after.groupby(['상권_코드','상권_코드_명']).mean()
after_df.head()

                  Covid19     분기당_매출_금액  ...  총_직장_인구_수      총_생활인구_수
상권_코드   상권_코드_명                          ...
1000001 계동길           1.0  2.448823e+08  ...    13700.0  1.108208e+06
1000002 난계로27길        1.0  3.136216e+08  ...    11773.0  3.704169e+06
1000003 돈화문로11가길      1.0  2.903691e+08  ...    39506.0  1.775981e+06
1000004 명륜길           1.0  1.576750e+08  ...     1696.0  3.109088e+06
1000005 백석동길          1.0  2.493421e+08  ...     4252.0  4.745286e+05

[5 rows x 15 columns]

In [12]:
mdf = merge(before_df, after_df, left_index=True, right_index=True) #알아서 x,y로 나눠서 출력해줌
mdf

                  Covid19_x   분기당_매출_금액_x  ...  총_직장_인구_수_y    총_생활인구_수_y
상권_코드   상권_코드_명                            ...
1000001 계동길             0.0  2.578610e+08  ...      13700.0  1.108208e+06
1000002 난계로27길          0.0  3.543839e+08  ...      11773.0  3.704169e+06
1000003 돈화문로11가길        0.0  3.413227e+08  ...      39506.0  1.775981e+06
1000004 명륜길             0.0  1.938924e+08  ...       1696.0  3.109088e+06
1000005 백석동길            0.0  2.776290e+08  ...       4252.0  4.745286e+05
...                     ...           ...  ...          ...           ...
1001006 천호대로197길        0.0  1.290946e+08  ...       2122.0  5.776149e+06
1001007 천호대로219길        0.0  1.504409e+08  ...        966.0  1.371762e+06
1001008 천호옛14길          0.0  2.903326e+08  ...       2503.0  7.212605e+06
1001009 천호옛길            0.0  1.302028e+08  ...       6064.0  8.757489e+06
1001010 풍성로37가길         0.0  1.365069e+08  ...       2748.0  9.605700e+06

[1009 rows x 30 columns]

### 종속변수 만들기 (코로나 전후 매출증감 여부)

In [13]:
mdf['매출증감'] = (mdf['분기당_매출_금액_y'] - mdf['분기당_매출_금액_x']) > 0
mdf['매출증감'] = mdf['매출증감'].astype('int') # + 인경우 매출증가(1), - 인경우 매출감소(0)
mdf.head()

                  Covid19_x   분기당_매출_금액_x  ...    총_생활인구_수_y  매출증감
상권_코드   상권_코드_명                            ...
1000001 계동길             0.0  2.578610e+08  ...  1.108208e+06     0
1000002 난계로27길          0.0  3.543839e+08  ...  3.704169e+06     0
1000003 돈화문로11가길        0.0  3.413227e+08  ...  1.775981e+06     0
1000004 명륜길             0.0  1.938924e+08  ...  3.109088e+06     0
1000005 백석동길            0.0  2.776290e+08  ...  4.745286e+05     0

[5 rows x 31 columns]

### 학습을 위한 최종 데이터 선정

In [14]:
mdf.columns

Index(['Covid19_x', '분기당_매출_금액_x', '주중_매출_금액_x', '주말_매출_금액_x', '남성_매출_금액_x',
       '여성_매출_금액_x', '점포수_x', '일과시간_금액_x', '일과이후_금액_x', '청년금액_x', '중년금액_x',
       '장년금액_x', '도심_x', '총_직장_인구_수_x', '총_생활인구_수_x', 'Covid19_y',
       '분기당_매출_금액_y', '주중_매출_금액_y', '주말_매출_금액_y', '남성_매출_금액_y', '여성_매출_금액_y',
       '점포수_y', '일과시간_금액_y', '일과이후_금액_y', '청년금액_y', '중년금액_y', '장년금액_y', '도심_y',
       '총_직장_인구_수_y', '총_생활인구_수_y', '매출증감'],
      dtype='object')

In [17]:
tdf = mdf[['점포수_x', '도심_x', '총_직장_인구_수_x', '총_생활인구_수_x', '점포수_y', '총_직장_인구_수_y', '총_생활인구_수_y', '매출증감']] #도심은 x,y 같으므로 하나 삭제

tdf.to_excel("tdf.xlsx")
tdf.head()

                     점포수_x  도심_x   총_직장_인구_수_x  ...  총_직장_인구_수_y    총_생활인구_수_y  매출증감
상권_코드   상권_코드_명                                 ...
1000001 계동길       6.825688   1.0  21133.770642  ...      13700.0  1.108208e+06     0
1000002 난계로27길    4.519231   1.0  10343.230769  ...      11773.0  3.704169e+06     0
1000003 돈화문로11가길  7.094340   1.0  43510.654088  ...      39506.0  1.775981e+06     0
1000004 명륜길       4.418182   1.0   8267.454545  ...       1696.0  3.109088e+06     0
1000005 백석동길      3.263158   1.0   2711.131579  ...       4252.0  4.745286e+05     0

[5 rows x 8 columns]